<!DOCTYPE html>
<html>
<head>
    <title>Cinema</title>
</head>
<body>
    <h1>Bem vindo ao Cinema da Carol</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTomNhwui7tnnanAITwH7nWxNhEANElF39RZw&s">
    <h1>Cadastro de Filmes</h1>
    
    <form action="/adicionar" method="post">
        Filme: <input type="text" name="filme"><br>
        Classificação: <input type="number" name="classificacao"><br>
        Gênero: <input type="text" name="genero"><br>
        Sobre: <input type="text" name="sobre"><br>
        Capa (URL): <input type="text" name="capa"><br>
        Data e horário: <input type="text" name="data_horario"><br>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <a href="/listar">Ver lista de filmes</a>
</body>
</html>
